{% load static %}
{% extends 'base.html' %}
{% block title %}About Us | Liquor Store{% endblock %}

{% block content %}
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 text-center heading-section ftco-animate">
        <h2 class="mb-4">About Our Liquor Store</h2>
        <p>We are committed to providing the finest collection of drinks that elevate your moments of celebration, connection, and relaxation.</p>
        <p>Our handpicked selection is sourced globally and served with love locally.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
